.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 84px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding-top: 76px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    padding-top: 64px;
  }
}