.place__text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  max-width: 484px;
}

@media screen and (max-width: 1024px) {
  .place__text {
    max-width: 456px;
  }  
}

@media screen and (max-width: 768px) {
  .place__text {
    max-width: 352px;
    row-gap: 25px;
  }  
}

@media screen and (max-width: 600px) {
  .place__text {
    width: 288px;
    margin: 0 auto;
  } 
}