.cover__background {
  background-color: rgba(42, 44, 47, .3);
  background-image: url("../../../images/cover-trains.jpg");
  background-blend-mode: overlay;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  align-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-color 0.1s;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
}

.cover__background:hover {
  background-color: rgba(42, 44, 47, .8);
}

@media screen and (max-width: 1024px) {
  .cover__background {
    max-width: 100%;
    min-height: 640px;
  }  
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }  
}

@media screen and (max-width: 320px) {
  .cover__background {
    min-height: 200px;
  }  
}