.place {
  display: grid;
  box-sizing: border-box;
  margin: 0 auto;
  gap: 48px 40px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows:  repeat(2, auto);
  grid-template-areas:
    "title website"
    "image text";
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 48px 28px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    row-gap: 32px;
    grid-template-columns: 100%;
    grid-template-rows:  repeat(4, auto);
    grid-template-areas:
      "title"
      "website"
      "image"
      "text";
    }
}